*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
    display: flex;
}

.fixed-width{
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px 25px;
    text-align: center;
}


/* header section styles */
.header-section{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 10px 0;
}
.nav-logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;

}
.nav-links li{
    list-style-type: none;
}
.nav-links li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
    margin-left: 40px;
    transition: 0.3s ease-in-out;
}
.nav-links li a:hover{
    color: #000000;
}

.banner{
    text-align: center;
    padding: 100px 0 45px;
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.banner p{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 30px;
}

.banner-image img{
    width: 90%;
    margin-top: 50px;
}

/* quick list section styles */
.quick-list-section{
    padding: 80px 0 120px;
}
.quick-list-container{
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-images img{
    width: 300px;
}

.quick-list-content h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
#thin-text{
    font-weight: 300;
    color: #727272;
}
#orange-text{
    color: #FF900E;
}
.quick-list-content p{
    font-size: 0.8rem;
    line-height: 24px;
    color: #727272;
    margin-bottom: 30px;
}

/* feature section styles */
.feature-container{
    gap: 100px;
    padding-bottom: 130px;
}
.feature-image, .features{
    flex: 1;
}

.features{
    padding: 30px 0;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
#feature-title-p{
    margin-bottom: 30px;
}
.features p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #727272;
}
.feature-card{
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.feature-card h4{
    font-size: 1.3rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.feature-image img{
    width: 110%;
}
.experience-badge{
    display: inline-block;
    padding: 30px 40px;
    background-color: #FF900E;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    margin-top: -130px;
    margin-left: -70px;
}
.experience-badge-bold{
    font-size: 3rem;
    font-weight: 700;
}

.facts-section{
    padding-bottom: 160px;
}

#fact-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
#fact-subtitle{
    font-size: 0.8rem;
    font-weight: 400;
    color: #727272;
    max-width: 500px;
    margin-bottom: 80px;
}

.fact-boxes{
    padding: 0 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 40px 35px;
    text-align: center;
}
.fact-card h5{
    font-size: 2.6rem;
    margin: 5px 0;
    color: #424242;
}
.fact-card p{
    font-size: 0.9rem;
    color: #727272;
}

.sponsor-container{
    text-align: center;
}
#sponsor-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
#sponsor-subtitle{
    font-size: 0.8rem;
    font-weight: 400;
    color: #727272;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.sponsors{
    align-items: center;
    justify-content: space-between;
}
.sponsors img{
    filter: grayscale(100%);
}

.footer-section{
    padding: 150px 0 200px;
}
.footer-container{
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}